---
import Layout from "../layouts/layout.astro"
---

<Layout>
  <section class="block hero">
    <div class="container">
      <h1>All Sandwiches. All the time.</h1>
      <p>
        The world's leading sandwich authority. We're here to help you find the
      </p>
    </div>
  </section>
</Layout>